<footer class="footer">
    <div class="container-fluid">
        <nav>
            <ul class="footer-menu">
                <li>
                    <a href="#">
                        Hovar Steven Rincón Vianchá
                    </a>
                </li>
                <li>
                    <a href="#">
                        Andrés Iván Sierra Espinel
                    </a>
                </li>
            </ul>
            <p class="copyright text-center">
                ©
                <script>
                    document.write(new Date().getFullYear())
                </script>
                <a>Made with Express and EJS</a>
            </p>
        </nav>
    </div>
</footer>